.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_Logo{
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
}

.Header_Navbar{
    display: flex;
    gap: 3rem;
}

.Header_Link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
}

.Header_Link::after{
    border-radius: 2em;
    border-top: .2em solid var(--text-color);
    content: "";
    position: absolute;
    right: 100%;
    bottom: .02em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
            border-color .4s ease-out;
}

.Header_Link:hover{
    color: rgba(var(--text-color), 0.8);
    transition: color .4s ease;
}

.Header_Link:hover::after {
    border-color: rgba(var(--text-color), 0.8);
    right: 0;
  }