.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_Logo{
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
    z-index: 2;
}

.Header_Navbar_FS{
    display: flex;
    gap: 3rem;
}

.Header_Navbar{
    display: none;
}

.Header_Link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
}

.Header_Link::after{
    border-radius: 2em;
    border-top: .2em solid var(--text-color);
    content: "";
    position: absolute;
    right: 100%;
    bottom: .02em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
            border-color .4s ease-out;
}

.Header_Link:hover{
    color: rgba(var(--text-color), 0.8);
    transition: color .4s ease;
}

.Header_Link:hover::after {
    border-color: rgba(var(--text-color), 0.8);
    right: 0;
  }

.Header_BurgerMenu{
    display: none;
}

.Header_BurgerMenu_Component{
    width: 80%;
    background-color: var(--text-color);
    height: .2rem;
    border-radius: 3rem;
}

.Header_BurgerMenu_Component.clicked:nth-child(1){
    transform: rotate(45deg) translate(.43rem);
    transition: .3s ease-out;
}

.Header_BurgerMenu_Component.clicked:nth-child(2){
    display: none;
}

.Header_BurgerMenu_Component.clicked:nth-child(3){
    transform: rotate(-45deg) translate(.32rem, .08rem);
    transition: .3s ease-out;
}

.Header_BurgerMenu_Component.unclicked:nth-child(1){
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}   

.Header_BurgerMenu_Component.unclicked:nth-child(3){
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.hidden{
    display: none;
}

.visible{
    display: inherit;
}

@media screen and (max-width: 700px){
    .Header_Logo{
        font-size: 1.6rem;
        padding-bottom: 0.3rem;
    }

    .Header_Navbar_FS{
        gap: 1.2rem;
    }

    .Header_Link{
        font-size: .9rem;
    }
}

@media screen and (max-width: 520px) {
    .Header{
        position: relative;
    }

    .Header_BurgerMenu{
        display: flex;
        flex-direction: column;
        width: 1.8rem;
        height: 100%;
        gap: .25rem;
        cursor: pointer;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }

    .Header_Navbar_FS{
        display: none;
    }

    .Header_Navbar{
        position: absolute;
        left: -2rem;
        width: 120%;
        top: -50px;
        height: 100vh;
        background-color: var(--background-color);
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .Header_Link{
        font-size: 1.5rem;
    }
}


