.Home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Home_Model{
    width: 100% !important;
}

.Home_Main{
    line-height: 9rem;
    font-size: 10rem;
    font-weight: 900;
}

.Home_Subtext{
    padding-top: 2rem;
    font-size: 2rem;
}
