.Home{
    padding: 8rem 0rem 5rem 10rem;
    position: relative;
}

.Home_Model{
    width: 100% !important;
}

.Home_Main{
    line-height: 9rem;
    font-size: 8rem;
    font-weight: 900;
}

.Home_Subtext{
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    width: 60%;
}

.Home_Links{
    display: flex;
    align-items: center;
    gap: 30px;
}

.Home_GitHubLogo{
    width: 3.2rem;
    background-color: var(--text-color3);    
    border-radius: 3rem;
    text-decoration: none;
}

.Home_LinkedLogo{
    width: 9rem;
    border-radius: 1rem;
    padding: 3px 3px;
    background-color: var(--text-color3);
}

.Home_GitHubLogo:hover{
    background-color: var(--text-color);
    transition: .4s ease;
}

.Home_LinkedLogo:hover{
    background-color: var(--text-color);
    transition: .4s ease;
    color: var(--text-color);
}

.Home_Background{
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background1{
    background-image: url(../../assets/Background1.png);
    z-index: -3;
}

.background2{
    background-image: url(../../assets/Background2.png);
    z-index: -2;
}

.background3{
    background-image: url(../../assets/Background3.png);
    z-index: -1;
}